@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Aspekta-500.woff2") format("woff2");
}
@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../fonts/Aspekta-600.woff2") format("woff2");
}
@font-face {
  font-family: "Aspekta";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Aspekta-700.woff2") format("woff2");
}
/**
 * Flex Element Mixin
 * @param $align - the align-items value (default: center)
 * @param $justify - the justify-content value (default: center)
 * @param $direction - the flex-direction value (default: column)
 * @param $wrap - the flex-wrap value (default: nowrap)
 */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Aspekta";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

ul {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  overflow-x: hidden !important;
  font-size: 1rem;
}

.container {
  width: 100%;
  padding: 0 1rem;
  max-width: 78rem;
  margin: 0 auto;
}